<% layout("/layouts/boilerplate") -%>
<body>
  <div class="pro-container">
  <div class="pro-cont">
    <% for(let product of allProducts) { %>
      <a href="/products/<%= product._id %>">
    <div class="products">
        <div class="product-img-container">
      <img src="<%= product.image %>" alt="" class="product-img" />
      <span class="badge rounded-pill text-bg-danger">-25%Off</span>
    </div>
      <p class="title"><%= product.title %></p>
      <div class="price">
      <p class="oldPrice">&#8377;<%= product.oldPrice %></p> &nbsp; &nbsp;
      <p>&#8377;<%= product.price %></p>
    </div>
    </div>
  </a>
    <% } %>
  </div>
</div>
</body>
