<% layout("/layouts/boilerplate") -%>
<div class="img-box">
  <img src="/images/ProductDetail.png" alt="" class="product-detail-img" />
  <h3>You’re just one step away from <br />owning something awesome!</h3>
</div>
<div class="container image_container m-b-5">
  <div class="row align-items-center">
    <div class="col-md-4 col-12 offset-md-3 text-center text-md-left">
      <img src="<%= Product.image %>" class="product_img" />
    </div>

    <div class="col-md-4 col-12 pb-5 mb-5 ms-md-0 ms-3 ">
      <h2 class="  mt-2"><%= Product.title %></h2>
      <h2> &#8377;<%= Product.price %></h2>
      <hr />
      <p><%= Product.description %></p>
      <p class="mfg">MFG: <%= Product.mfg %></p>
      <p class="category">Category: <%= Product.category %></p>
      <button class="btn cart_btn">Add to cart</button>
      <button class="btn buy_btn">Buy Now</button>
    </div>
  </div>
</div>
